**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/venv
**/.git
**/.zip 
**/.tar.gz
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/figures
**/dataset/sketch_dataset
**/dataset/cifar-10-python.tar.gz
**/dataset/sketch_dataset.zip
**/dataset
**/notes.txt
**/notes2.txt
**/secrets.dev.yaml
**/values.dev.yaml
**/myvenv
**/outputs
**/checkpoints
**/consistency_model
**/ddpm_model
**/evaluation
**/notebooks
**/training_results
**/training_samples
**/zip_files
LICENSE
README.md